 /*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 12px 8px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 51%!important;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;}

/* ==========================================================================
   Author's custom styles
   ==========================================================================

.bg1{ background-color:#CCC; height:55px;}
.wd{ width:100px;}
.bd{ border-bottom:1px solid #333;}
.bg2{ background:#313F48;}
.bg3{ background:#78A240;}
.bt{ margin-bottom:150px;}
.mr{ margin-top:-150px;}
.pg p{ padding-top:90px;color:#fff;}
.bg4{ background:#313f49;}

.tx p{ padding:5px; color:#fff;}
.tx h3{ color:#fff;}

.org{ border-top:2px solid  #f37022 ;}
.sz{ margin:50px 0px 10px 0px;}*/




.mytree ul{padding-top:20px; position:relative;}
.mytree ul li{ list-style:none; float:left; text-align:center;padding: 20px; position:relative;}
.mytree ul li a{width:90px; height:90px; border-radius:50% !important; display:inline-block; color: #FFF; font-size: 16px; }
.mytree li::before, .mytree li::after{
	content: '';
	position: absolute; top: 90px; right: 23%;
	

	width: 50%; height: 20px;
}
.mytree ul ul::before{
	border-left: 1px dashed #ccc;
    content: "";
    height: 90px;
    left: 35%;
    position: absolute;
    top: -24px;
    transform: rotate(45deg);
    width: 0;
}
.mytree ul ul::after{
	border-left: 1px dashed #ccc;
    content: "";
    height: 90px;
    position: absolute;
    right: 36%;
    top: -28px;
    transform: rotate(135deg);
    width: 0;
}
.mytree ul ul ul::before{
	border-left: 1px dashed #ccc;
    content: "";
    height: 96px;
    left: 30%;
    position: absolute;
    top: -20px;
    transform: rotate(30deg);
    width: 0;
}
.mytree ul ul ul::after{
	border-left: 1px dashed #ccc;
    content: "";
    height: 96px;
    position: absolute;
    right: 30%;
    top: -16px;
    transform: rotate(150deg);
    width: 0;
}
/* .mytree ul li a:hover{background:#F00;}
.mytree ul li a:hover + ul li a{background:#F00;}  */
.mytree ul ul ul{padding-top: 50px;}
.mytree ul ul.newdiv:before{border-left: 1px dashed #ccc;
    content: "";
    height: 225px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0;}

.mytree div{display: table;
    height: 100%;
    width: 100%;}
.mytree span{display: table-cell;
    vertical-align: middle;}

.mytree ul li a:hover{text-decoration: none;}
.sm-red{background:#d26666;}
.sm-navy{background:#33cbcc;}
.sm-green{background:#e2d13b;}
.sm-blue{background:#3398cc;}
.sm-greenLight{background:#b4d749;}
.sm-purple{background:#3a56aa;}
.sm-grey{background:#e7b76d;}
.sm-blank{background:#e0e0e0;}
.sm-nothing{background:#ccc;}
.sm-blank span{font-size:55px !important;}

@media (max-device-width: 480px) and (min-device-width: 320px)
{
    .mytree ul ul::after {
    border-left: 1px dashed #ccc;
    content: "";
    height: 50px;
    position: absolute;
    right: 33%;
    top: -20px;
    transform: rotate(146deg);
    width: 0;
}
.mytree ul ul::before {
    border-left: 1px dashed #ccc;
    content: "";
    height: 50px;
    left: 38%;
    position: absolute;
    top: -29px;
    transform: rotate(34deg);
    width: 0;
}
.mytree ul ul ul::before{
	border-left: 1px dashed #ccc;
    content: "";
    height: 76px;
    left: 30%;
    position: absolute;
    top: -7px;
    transform: rotate(16deg);
    width: 0;
}
.mytree ul ul ul::after{
	border-left: 1px dashed #ccc;
    content: "";
    height: 70px;
    position: absolute;
    right: 31%;
    top: -9px;
    transform: rotate(161deg);
    width: 0;
}
.mytree li::before, .mytree li::after{content: "";
    height: 20px;
    position: absolute;
    right: 24%;
    top: 80px;
    width: 50%;}

.mytree ul li a{border-radius: 50% !important;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 40px;
    width: 40px;}
.mytree ul li{float: left;
    list-style: outside none none;
    padding: 7px;
    position: relative;
    text-align: center;}
.mytree ul ul.newdiv::before{height: 135px;}
.mytree ul ul::before{height: 65px;}
.sm-blank span{font-size:20px !important;}
}
 .mytree .tooltip-arrow{width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black; left:7% !important;;}
  .mytree .tooltip-inner{width:auto !important; height: auto !important; border-radius: 3px !important;}
  .mytree .tooltip.fade.bottom.in{left:44% !important;}
  .mytree .tooltip.fade.bottom{left:44% !important;}
@media (max-device-width: 767px) and (min-device-width: 481px)
{
    .mytree ul li{float: left;
    list-style: outside none none;
    padding: 20px;
    position: relative;
    text-align: center;}
    .sm-blank span{font-size:30px !important;}
    
    
}
@media (max-device-width: 1024px) and (min-device-width: 768px)
{
     .mytree ul li{float: left;
    list-style: outside none none;
    padding: 10px !important;
    position: relative;
    text-align: center;}
     .mytree ul li a{border-radius: 50% !important;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 70px;
    width: 70px;}
      .sm-blank span{font-size:50px !important;}
}

.detailPackage{}
.detailPackage h4{ text-align: center; color: #333333; padding: 20px;}
.basicP{ min-width:232px; margin: 6px 0; max-width: 300px;}
.basicP > img{margin-right: 10px;}
.basicP > p{display: inline-block; font-size: 14px; max-width: 160px;}
.detailPackage tr{}
.detailPackage th{ color: #aeaeae; font-size: 15px;}
.packageDetail{ width: 300px;}
.packageDetail li{ border-bottom: 1px dashed #c1c1c1; margin-top: 5px; background: url(/images/bullets-icon.png) left 30% no-repeat; list-style: none; font-size: 15px;}
.packageDetail p{display: inline-block; width: 200px; padding-left: 20px;} 

.detailPackage .col-sm-3.col-xs-12{ border: 1px dashed #c1c1c1;}
.detailPackage .col-sm-3.col-xs-12 table{width: 100%;}
.colorBox{display: inline-block; position: relative; font-family: 'DejaVuSans';}
.colorBox >img{position: absolute; top: 0; left: 9%;}
.colorBox span{vertical-align: middle; font-size: 50px; line-height: 35px;}

.sm-user{background: #cccccc;}
.sm-user-inactive{background: #a6a6a6;}
.sm-user-active{background: #727272;}

.sm-basicp1{background: #8fd900;}
.sm-basicp2{background: #db5300;}
.sm-basicp3{background: #dce903;}

.sm-advancep1{background: #0377ea;}
.sm-advancep2{background: #9137ea;}
.sm-advancep3{background: #00c0ec;}

.sm-pro1{background: #ea9000;}
.sm-pro2{background: #00c265;;}
.sm-pro3{background: #e90000;}

/* custom-fonts */
@font-face {
   font-family:'DejaVuSans';
	src: url('/fonts/DejaVuSans.ttf');
	
	}
