 
.fleft
{
	float:left;
} 

.fright
{
	float:right;
} 

.main_content
{
	background:#ffffff;text-align:center;width:1000px;margin:0 auto
}

.top_bar
{
	height:50px;width:1000px;margin:0 auto;font-size:16px;text-align:left
}
.mback
{
	margin:0 auto;width:980px;height:38px;background-image:url('menu.png')
}

body {background-repeat:repeat-x;background-repeat-y:no-repeat;background:#f6f6f6;text-align:middle;background:#f6f6f6;background-image:url(body.png);font-family:arial;font-size:12;cursor:default;color:#AAAAAA}
.right_header_top{background:#0bc317;width:240px;height:24px;color:white;font-size:14px;font-weight:800;padding-left:6px;padding-top:4px}
a{color:#0bc317;font-weight:800}
.header{font-size:16px}
.header_title{color:white}

 .prop {
    height:50px;
    float:right;
    width:1px;
  }

  .clear {
    clear:both;
    height:1px;
    overflow:hidden;
  }