body {
	margin: 0px 0;
	padding: 0;
	background: #FFFFFF url(img1.gif);
	font: normal small Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	margin-top: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #0b475f;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
	margin: 0;
}

p, ul, ol, blockquote {
	margin-top: 0;
}

a:link {
	text-decoration: none;
	color: #0b475f;
}

a:hover {
	text-decoration: underline;
}

li {
	color: #0b475f;
}

li a:link {
	border-bottom: 1px dotted #0b475f;
	color: #666666;
}

li a:hover {
	border-bottom: 1px solid #0b475f;
	text-decoration: none;
	color: #0b475f;
}

img.float {
	float: left;
	margin: 5px 15px 10px 0;
	border: 5px solid #0b475f;
}

#header {
	width: 980px;
	height: 160px;
	margin: 0 auto;
	padding: 10px;
	background: #0b475f url(img3.jpg) repeat-x 10px 10px;
}

#header * {
	margin: 0;
	padding: 0;
	float: left;
	text-decoration: none;
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
}

#header h1 {
	padding: 128px 0 0 18px;
	font-weight: bold;
}

#header h2 {
	padding: 128px 0 0 0;
}

#content {
	width: 980px;
	margin: 0 auto;
	background: #FFFFFF url(img2.gif);
	border: 10px solid #0b475f;
	border-top: none;
}

#colOne {
	float: left;
	width: 180px;
	padding: 20px 10px;
}

#colOne ul {
	margin-left: 0;
	padding-left: 1em;
	list-style: square inside;
}

#colTwo {
	float: left;
	width: 460px;
	padding: 20px 10px;
}

#footer {
	padding: 10px;
	text-align: center;
	font-size: smaller;
}

.lfloat
{
	text-align:left
}

.clear
{
	clear: both;
}
#footer * {
	color: #D6947A;
}