td{font-family:Comic Sans MS;font-size:12;color:#8b8d8c}
td.header{background:#c7e7f4;font-weight:800;font-size:14px}
a{color:#0000aa}
.blog_table{background:#ebf4f9;width:480}
.header_title{font-size:14px;font-weight:800;color:#3da5e4}
.blog_table_content_td{text-align:justify}
body{margin:0}
h1.header_title{font-size:28px}