body{background:#3673aa}
td{font-family:Tahoma;font-size:12;color:#000000}
td.header{background:#e2e2e2;font-weight:800;font-size:14px}
a{color:#39a838}
.blog_table{width:98%}
.header_title{font-size:14px;font-weight:800;}
.blog_table_content_td{text-align:justify}
h1.header_title{font-size:32px;margin-left:10px}