body{background:#f0f0f0 url(bodybg-orange.jpg) repeat-x;margin: 0}
td{font-family:Tahoma;font-size:12;color:#000000}
td.header{font-weight:800;font-size:14px}
a{color:#aa6009}
.blog_table{width:98%}
.header_title{font-size:24px;font-weight:800;color:#000000}
.blog_table_content_td{text-align:justify}
h1.header_title{font-size:32px;font-weight:800;color:#000000}

.header_title{font-size:18px;font-weight:800;color:#000000}
