body{background:#fff7ef;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px}
td.header{background:url(header_back_323.gif);border-style:solid;border-color:#E0BD98;border-width:1px 1px 1px 1px;height:35px}
td,div,body{color:#333333}

.add-padding
{
	padding-left:15px;
	
}