body{background:#e6170c;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px}
td.header{background:url(images/header_back_321.gif);border-style:none;border-color:#E0BD98;border-width:1px 1px 1px 1px;height:35px}
td,div,body{color:#333333}


.add-padding
{
	padding-left:15px;
	
}