body{background-color:#525252;background-repeat:no-repeat;background-image:url(images/back_361.gif)}
td.header{background:#484848;border-style:none;border-color:#E0BD98;border-width:1px 1px 1px 1px;height:35px}

.top-header
{
	color:#383838
}