body {

	margin: 0;

	padding:0;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 1.5em;

	color: #585858;

	background-color: #ededed;

}

a:link, a:visited { color: #006600; text-decoration: none; } 

a:active, a:hover { color: #CC0000; text-decoration: none; }

h1 {

	font-size: 22px;

	font-weight: bold;
	padding:0px;
	color: #38713a;
	margin:0;

}

#rightbar {
	float:right;
	width:220px;
	text-align:left;
	border-style:solid;
	border-color:#bcbcbc;
	border-width:0px 0px 0px 1px;
	padding-left:20px;
}


h2 {

	margin-top: 20px;

	font-size: 16px;

	font-weight: bold;

	color: #56b81b;

	height: 20px;

	padding: 7px 0px 0px 35px;

	background: url(header2.jpg) no-repeat;

}

#container {

	width: 900px;

	margin: auto;

	background-color: #fff;

}

#top_section {

	float: right;

	width: 900px;

	height: 50px;

	background: url(menu.jpg) no-repeat;

}

#welcomesection {
	
	float: left;

	
	text-align: justify;

	padding: 0px 50px 0px 50px;
	float: left;
	
}

#welcomesection img {

	float: left;

	padding-right: 10px;

}

.topmenu{

	float: right;

	width: 580px;

	padding-right: 20px;

}

.topmenu ul {

	list-style: none;

	padding: 0px;

	margin: 0px;

}


.topmenu li{

	display: inline ;

}

.topmenu li a{

	float: left;

	text-align: center;

	font-size: 11px;

	font-weight: bold;

	color: #fff;

	width: 77px;

	height: 30px;

	padding: 14px 0px 0px 5px;

}

.topmenu li a:hover{

	color: #91e30c;

	text-decoration: underline;

}

#headersection {

	float: left;

	width: 900px;

	height: 180px;

	color: #fff;

	text-align: justify;

	font-size: 11px;

	padding: 63px 140px 0px 350px;

	background: url(header.jpg) no-repeat;

}

#headersection span {

	font-size: 18px;

	font-weight: bold;

}


#footersection {

	clear: both;

	width: 900px;

	height: 23px;

	margin-top: 20px;

	background-color: #cbf0bb;

	text-align: center;

	padding-top: 7px;

}

#boxleft {

	float: left;

	width: 400px;

	padding-left: 50px;

}

#boxright {

	float: left;

	width: 430px;

	padding-left: 20px;

}

.box_left {

	float: left;

	width: 23px;

	height: 253px;

	background: url(box_left.jpg) no-repeat;

}

.box_middle {

	float: left;

	width: 330px;

	height: 253px;

	text-align: justify;

	padding: 0px 5px 0px 5px;

	background: url(box_middle.jpg) repeat-x;

}

.box_middle img {

	float: left;

	padding-right: 10px;

}

.box_right {

	float: left;

	width: 23px;

	height: 253px;

	background: url(box_right.jpg) no-repeat;

}

.morebutton1 {

	background: url(morebutton1.jpg) no-repeat;

	font-size: 11px;

	height: 39px;

	width: 62px;

	padding: 8px 0px 0px 20px;

	font-weight: bold;

}

.morebutton1 a {

	color: #FFFFFF;

}

.morebutton2 {

	float: right;

	background: url(morebutton2.jpg) no-repeat;

	width: 51px;

	height: 28px;

	font-size: 10px;

	padding: 5px 0px 0px 10px;

}

.morebutton2 a {

	font-weight: bold;

	color: #FFFFFF;

}